= form_with(model: tag, local: true) do |form|
  - if tag.errors.any?
    #error_explanation
      %h2
        = pluralize(tag.errors.count, "error")
        prohibited this tag from being saved:
      %ul
        - tag.errors.full_messages.each do |message|
          %li= message
  .field
    %h5= form.label :name
    = form.text_field :name
  .actions
    = form.submit nil, :class => 'btn btn-primary btn-sm'
