- mytags = current_user.tags

= form_with(model: todo, local: true) do |form|
  - if todo.errors.any?
    #error_explanation
      %h2
        = pluralize(todo.errors.count, "error")
        prohibited this todo from being saved:
      %ul
        - todo.errors.full_messages.each do |message|
          %li= message
  .field
    %h5= form.label :title
    = form.text_field :title
  .field
    %h5= form.label :notes
    = form.text_area :notes
  .field
    %h5= form.label :status
    = form.check_box :status
  .field
    %h5= form.label :tags
    = form.collection_select :tag_ids, mytags, :id, :name, {}, {multiple: true}
  .actions
    = form.submit nil, :class => 'btn btn-primary btn-sm'