%p#notice= notice
%h1 Todos
%table.table
  %thead
    %tr
      %th Title
      %th Notes
      %th Tags
      %th Status
      %th{:colspan => "3"}
  %tbody
    - @todos.each do |todo|
      %tr
        %td= todo.title
        %td= todo.notes
        %td
          - todo.tags.each do |tag|
            = tag.name
        - if todo.status
          %td= link_to 'Done', toggle_path(todo), method: :put, class: 'text-success'
        - else
          %td= link_to 'Doing', toggle_path(todo), method: :put, class: 'text-danger'

        %td= link_to 'Show', todo, class: 'btn btn-outline-secondary btn-sm'
        %td= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-outline-secondary btn-sm'
        %td= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary btn-sm'
%br/
= link_to 'New Todo', new_todo_path, class: 'btn btn-outline-dark'
= link_to 'Show Tag', tags_path, class: 'btn btn-outline-dark'