%p#notice= notice
%p
  %strong Title:
  = @todo.title
%p
  %strong Notes:
  = @todo.notes
%p
  %strong Status:
  - if @todo.status
    %td Done
  - else
    %td Doing
= link_to 'Edit', edit_todo_path(@todo), class: 'btn btn-outline-dark btn-sm'
|
= link_to 'Back', todos_path, class: 'btn btn-outline-dark btn-sm'
